# Types in Python:
No need to declare the object type in advance.

## Numbers:
1.   integers `int`
2.   flot `flot`

### Integer objects
Integers are whole numbers. \
To check the object type in python we use the command `type()` \
**Note**: assignation does not requaire Python to print anything.

In [ ]:
x = 3
type(x)

### Float objects:
A floating point number, is a positive or negative whole number with a decimal point.

In [ ]:
y = 1.5
type(y)

### Mixing integers and floats

Python is dynamically typed.

In [ ]:
z = x/y
print(z)
type(z)

### Casting a type:
Requiring the result stored in an object to be of a certain type.



*    `int()` creates an integer number from an integer literal,
a float literal by removing all decimals, or a string literal
(so long as the string represents a whole number)

*   `float()` creates a float number from an integer literal,
a float literal or a string literal (so long as the string
represents a float or an integer)

*   `str()` creates a string from a wide variety of data types,
including strings, integer literals and float literals

In [ ]:
z = int(z)
print(z)
type(z)

In [ ]:
x = float(1)
print(x)
type(x)

In [ ]:
y = int('2')
print(y)
type(y)

In [ ]:
z = str(6.3)
print(z)
type(z)

## Strings:
* A string is a sequence of characters or text.
* Strings in Python are defined by enclosing the characters in question in either single (`' '`) or double quotes (`" "`).
* Strings in Python are immutable. (This means Strings in Python are immutable.
that it is not possible to change individual elements of a
string)

### Examples:

In [ ]:
example1 = 'This is a string'
example2 = "And this is also a string"

In [ ]:
print(example1)
print(example2)

In [ ]:
type(example1)
type(example2)

### Concatenation:
Concatenation of strings can be achieved with the `+` symbol.

In [ ]:
Color_1, Color_2 = 'Red', 'Blue'  #In Python is it possible to assign multiple values to multiple variables in one single line of code.
print(Color_1 + ' and ' + Color_2)

In [ ]:
# print(Color_1 + y) #Error!

In [ ]:
print(Color_1 + str(y))

In [ ]:
print(Color_1 + ' and ' + 3*(Color_2 + ' ')) # The multiplication operator * to be used with strings and in this case it replicates the string.

### Strings over multiple lines:
To create strings over multiple lines with the use of triple single (`'`) or double (`"`) quotes. This is also useful to define docstrings for functions.

In [ ]:
Intro =  '''Introduction:
This course is an introductry course in
data manipulation using python
and some basic statistics.
'''
print(Intro)

Introduction:
This course is an introductry course in
data manipulation using python
and some basic statistics.

## Complex Numbers:

* Python denotes the imaginary number $i = \sqrt{-1}$ as `j`.

In [ ]:
z=42+24j # z = 42 + 24i
print(z)
type(z)

In [ ]:
print('The real part is {0}, the imaginary part is {1}'.format(z.real, z.imag))

In [ ]:
print('The real part is {0},\
the imaginary part is {1}'\
.format(z.real, z.imag))

In [ ]:
x=1
print("x is equal to {0}".format(x))

In [ ]:
x, y = complex(1, 2), complex(3, 4) #We can also create complex numbers with complex().

In [ ]:
print('Addition =', x + y)
print('Subtraction =', x - y)
print('Multiplication =', x * y)
print('Division =', x / y)
print('Conjugate =', x.conjugate())

In [ ]:
print('Addition = {0}'.format(x+y))

## Collections in Python:


1.   Lists
2.   Tuples
3.   Dictionaries
4.   Sets

### Lists:


*   A list is a very versatile type that puts items in a sequence.
*   Python lists can have items of different types.
*   A list in Python is defined with square brackets `[]`
*   Lists are mutable objects and therefore it is possible to change individual elements in a list.

#### Examples:

In [51]:
numbers = [1, 2, 3, 4, 5]
colors = ['Red', 'Blue', 'Green', 'Red', 'Red']
nc = [3, 'Red', 'Green', 1.32]

#### Indexing:


*   **Single element**: We are referring to the first element in the list `numbers` with the index 0.

In [ ]:
numbers[0] #Looking at an individual item

*   **sub-sequence**: We refer to the sub-sequence with the help of a colon as `[start:end]`, where `start` refers to the first element we want to include in the sub-sequence and `end` is the last element we want to consider in the slice.

In [ ]:
colors[2:4] #sub-sequence in the list "slicing and dicing"

* **negative indices**: In list case the last item has the index-1, the next one -2 and so on

In [ ]:
nc[-1]

In [ ]:
L = 'StarTrek'
L

In [ ]:
L[0]

In [ ]:
L[1:4]

In [ ]:
L[-4:-1]

#### Immutability

In [ ]:
scifi = ['S','t','a','r','T','r','e','k']
scifi[4]

In [ ]:
scifi[4:] = 'W','a','r','s'
scifi

* **Adding elements**

In [ ]:
numbers.append(6)
numbers

* **Concatenation**:  Achieved with the `+` operator

In [ ]:
numbers+colors

* **sorting**: We do this with the `sort` method.

In [ ]:
l1 = [21, 0, 3, 1, 34, 8, 13, 1, 55, 5, 2]
l1

In [ ]:
l1.sort() #The sorting is done in place and this means that now our list has changed
l1

In [ ]:
l1.sort(reverse=True)
l1

We ca use the sorted function and the difference is that the function will create a new object rather than changing the original

In [ ]:
l1 = [21, 0, 3, 1, 34, 8, 13, 1, 55, 5, 2]
print(sorted(l1))

In [ ]:
l1

In [ ]:
sorted(l1, reverse=True)

The elements of a list can be other types of objects, for
example they can be other lists

In [ ]:
 m = [[1,2], [2,3], [3,4]]
 m[2]

In [ ]:
m[2][1]

We can obtain the length of a list with the `len` function

In [ ]:
len(m)

* **Copy**

In [31]:
x = [2,4,10,1]

In [33]:
y = x

In [ ]:
x

In [ ]:
y

In [38]:
x.sort()

In [ ]:
x

In [ ]:
y

In [41]:
x = [2,4,10,1]
y = x.copy()
x.sort()

In [ ]:
x

In [ ]:
y

#### List comprehension:
* List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
* Full syntax: newlist = [ expression **`for`** item **`in`** iterable **`if`** condition == True].

In [44]:
l2 = [x**2 for x in l1]
l2

[441, 0, 9, 1, 1156, 64, 169, 1, 3025, 25, 4]

###  Tuples

* Tuple items are ordered, unchangeable, and allow duplicate values.
* The items of a tuple can be of different types.
* Tuples are defined with round brackets `( )`, and each element in the tuple is separated with a comma.
* Tuples are iterables where order is important

#### Examples:

In [80]:
numbers_tuple = (1, 2, 3, 4, 5)
colors_tuple = ('Red', 'Blue', 'Green', 'Red', 'Red')
nc_tuple = (3, 'Red', 'Green', 1.32)

In [ ]:
type(number_tuple)

In [ ]:
numbers_tuple[1]

In [ ]:
numbers_tuple[2:4]

In [ ]:
# numbers_tuple[0] = 10

In [59]:
t1 = (21, 0, 3, 1, 34, 8, 13, 1, 55, 5, 2)

In [ ]:
t2 = sorted(t1)
t2 #Check the type of t2

In [ ]:
translate = zip(numbers, colors_tuple)
type(translate)

In [ ]:
translate

In [ ]:
list(translate)

###  Dictionaries:

* A Python dictionary lets us find the information associated with a key.
* A dictionary inPython is made out of *key* and *value* pairs.
* We define a dictionary with curly brackets `{ }`.
* Each key-value pair is constructed with a colon `:` between the key and the value and pairs are separated from each other by a comma.
* The keys can be any immutable object: Numbers, strings or tuples for example.
* The value associated with a particular key can be changed by reassigning the new value to the dictionary item with the correct key.
* Dictionaries are mutable and duplicate keys are not
allowed.

#### Examples

In [ ]:
# creating a dictionary
country_capitals = {
  'Saudi Arabia' : 'Riyadh',
  'United States': 'Washington D.C.',
  'Italy': 'Rome',
  'England': 'London'
}

# printing the dictionary
print(country_capitals)

In [ ]:
country_capitals['Saudi Arabia']

In [69]:
courses = {
  '445100181' : ['527 SDE', '501 QUA', '522 SDE'],
  '445110654': '501 QUA',
  'Italy': ['501 FIN', '511 ECON']
}

In [ ]:
courses['445100181'][0]

In [ ]:
#country_capitals['Lebanon']

In [71]:
country_capitals['Lebanon'] ='Beirut'

In [ ]:
country_capitals['Lebanon']

In [ ]:
country = country_capitals.keys()
country

In [75]:
country_capitals['Egypt'] ='Cairo'

In [ ]:
country

In [82]:
D = {k:v for (k, v) in translate}
D

In [ ]:
DD = dict(translate)